.container-cv{
    background-color: white;
    position: relative;
    top: 5px;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 16px 80px;
    box-sizing: border-box;
    height: auto;
    box-shadow: 3px 2px 10px grey;
    border: solid #009fff;
}
.body-cv{
    margin-left: auto;
    margin-right: auto;
}
.text-header {
    color: #009fff;
    font-weight: bold;
}
.pekerjaan-cv{
    font-weight: bold;
    font-size: 16px;
    color: #594f4f;
}
.body-left{
    height: auto;
    background-color: red;
}
.title{
    color: #009fff;
}
.information-profile{
    font-size: 13px;
}
.icon-awesome {
    color: #009fff;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.text-kontak{
    color: black;
}
.text-email{
    color:black;
    font-size: 10px;
}
.text-address{
    font-size: 12px;
    color: black;
}
.list-keahlian{
    font-size: 13px;
}
.garis{
    width: 2px;
    height: 200px;
    background-color: #009fff;
    position: relative;
}
.garis-pendidikan{
    width: 2px;
    height: 130px;
    background-color: #009fff;
    position: relative;
}
.bulet{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: black;
    margin-left: -3px;
    margin-top: 10%;
}
.list-job{
    margin-top: -3px;
font-size: 13px;
}
i{
    font-size: 10px;
}
.pengalaman-cv{
    margin-left: 3rem;
}
@media  only screen  and (max-width: 575px){
    .pengalaman-cv{
        margin-left: 0;
    }
    .content-pengalaman{
        margin-top: 7rem;
    }
}